
<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.imooc.com" class="link" target="_blank">Mooc</a> |
            <a href="https://www.google.ca" class="link" target="_blank">Google</a> |
            <a href="https://www.taobao.com" class="link" target="_blank">Taobao</a>
        </div>
        <p class="copyright">
            Copyright &#9400; 2018 NiMall.com. All right reserved.
        </p>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>